<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
          <ion-col col-8>
            <ion-item>
              <ion-label fixed>Username</ion-label>
              <ion-input type="text" [(ngModel)]= "nombre"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-4>              
            <button ion-button color = "secondary" (click) = "pushDetalle()">Detalle</button>            
          </ion-col>          
        </ion-row>
        {{nombre}}
      
      </ion-grid>

  <button ion-button (click) = "pushBusqueda()">Busqueda</button>
  <button ion-button (click) = "pushListaUsuario()">Lista de usuarios</button>
  
</ion-content>
