<ion-header>
  <ion-navbar>
    <ion-title>Lista Usuarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let item of items" (click)= "alertList(item.id)">
        <ion-card-header>
          {{item.name}} - {{item.email}}
        </ion-card-header>      
        <ion-card-content>
           {{item.address.street}}
        </ion-card-content>
      </ion-card>
    
</ion-content>